<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Evan Ribey | Full-Stack Node Developer</title>
  <meta name="description" content="A Full-Stack Node Developer with a passion for learning beyond an institution, logic puzzles, powerlifting, and coffee" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="NodeJS, website, developer, Kitchener, Waterloo" />
  <meta name="author" content="Evan Ribey" />
  <link rel="canonical" href="https://evanribey.com" />
  <meta property="og:url" content="https://evanribey.com" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Evan Ribey | Full-Stack Node Developer" />
  <meta property="og:description" content="A Full-Stack Node Developer with a passion for learning beyond an institution, logic puzzles, powerlifting, and coffee" />
  <meta property="og:site_name" content="Evan Ribey" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Evan Ribey" />
  <meta name="twitter:description" content="A Full-Stack Node Developer with a passion for learning beyond an institution, logic puzzles, powerlifting, and coffee" />
  <meta name="twitter:site" content="@EvanRibey" />
  <meta name="twitter:domain" content="Evan Ribey" />
  <meta name="twitter:creator" content="@EvanRibey" />
  <meta name="google-site-verification" content="1JtRgmbsDF1f2ctB9vgDKl1DczY8ggqGgkSi0-w2CFo" />
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
</body>
</html>